<footer class="bg-black ph3 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

	  	<p class="f4 lh-title light-gray b tc mb2">Conteúdos exclusivos pra você</p>
		
			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h4 class="f6 b lh-title mb1 primary">Suplementos Blog</h4>
				<ul class="ft">
					<li><a href="/autores">Autores</a></li>
					<li><a href="/politicas" >Políticas do site</a></li>
					<li><a href="/contato" >Contato</a></li>
				</ul>
			</div>

			<div>
				<h4 class="f6 b lh-title mb1 primary">Descubra mais</h4>
				<ul class="ft">
					<li><a href="/tags/" class="card-subtitle">Assuntos</a></li>
					<li><a href="/tags/finanças" class="card-subtitle">Dicas de Finanças</a></li>
					<li><a href="/" class="card-subtitle">Cursos</a></li>
				</ul>
			</div>

			<div>
				<h4 class="f6 b lh-title mb2 primary">Redes sociais</h4>
				<ul class="mhn2">
					<li class="dib ph2 raise">
  <a href="#" class="link fb db relative br-100 pa2">
      <svg width="16px" height="16px" class="db">
      <use xlink:href="#icons-facebook"></use>
    </svg>
  </a>
</li>

					<li class="dib ph2 raise">
  <a href="#" class="link tw db relative br-100 pa2">
    <svg width="16px" height="16px" class="db">
      <use xlink:href="#icons-twitter"></use>
    </svg>
  </a>
</li>

					<li class="dib ph2 raise">
  <a href="#" class="link it db relative br-100 pa2">
    <svg width="16px" height="16px" class="db">
      <use xlink:href="#icons-instagram"></use>
    </svg>
  </a>
</li>

					<li class="dib ph2 raise">
  <a href="#" class="link bg-white black db relative br-100 pa2">
    <svg width="16px" height="16px" class="db">
      <use xlink:href="#icons-vimeo"></use>
    </svg>
  </a>
</li>

				</ul>
			</div>
		</div>
	</div>
	<div class="center"><img src="/img/sb-footer.png" alt="SB logo" class="db center br0 w-100-ns" width="115px" height="85px"/></div>
	<div class="Copyright">Feito com ❤️, por: <span class="tags">
      <a href="https://www.lucasdesign.eu.org/">
       Lucas Designer. </a></span> <span class="tc">Suplementos Blog - Copyright &copy;2019 | Todos os direitos reservados.</span></div>
</footer>
{{ partial "svg" . }}
<link rel="stylesheet" href="/custom.css" />

</body>
</html>
