<head>
	{{ if .IsHome }}<title>{{ .Title }} | Tudo sobre suplementos</title>{{ end }}
	<title>{{ .Title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
	
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">
	
	<meta name="google-site-verification" content="KzKgt8zCrEro70BXfyvQGX5daeP7rc_TJXr1tkxaA4U"/>

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="{{ .Title }}">
	{{ if .IsHome }}<meta property="og:image" content="https://suplementos.netlify.com/img/blog-SB.png">{{ end }}
	{{ if .IsPage }}<meta property="og:image" content="{{ .Params.image }}">{{ end }}
	<meta content="214198061947395" property="fb:admins">
        <meta content="327700103966602" property="fb:app_id">

    {{ if .IsHome }}<meta name="og:keywords" content="{{ if .IsHome }}{{ .Site.Params.keywords }}{{ end }}" />{{ end }}
    <meta name="robots" content="noodp"/>
    {{ with .Params.robotsdisallow }}<meta name="robots" content="noindex, nofollow, noarchive">{{ end }}
    <link rel="canonical" href="{{ .Permalink }}" />
	<meta name="google-site-verification" content="aqui" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta name="twitter:title" content="{{ .Title }}{{ if .IsHome }} - {{ .Site.Params.Tagline }}{{ else }} - {{ .Site.Title }}{{ end }}" />
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />

    <!-- OG data -->
    <meta property="og:locale" content="pt_BR" />
    <meta content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" property="og:description">
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{ range .Params.categories }}<meta property="article:section" content="{{ . }}" />{{ end }}
    {{ if isset .Params "date" }}<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}
    {{ range .Params.tags }}<meta property="article:tag" content="{{ . }}" />{{ end }}
    
    {{ partial "seo_schema" . }}

</head>
