<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 flex-none">
		<img src="/img/logo-topo-SB.png" alt="SB logo" class="br0 db mb0 w-100-ns" width="250px" height="32px"/ />
	</a>

	<!-- Primary Nav -->
	<input type="checkbox" name="nav-btn" id="nav-btn" />
<span></span>
	<nav2>
 <ul>
 <li><a href="#">Home</a></li>
 <li><a href="#">Service</a></li>
 <li><a href="#">Portfolio</a></li>
 <li><a href="#">Contact</a></li>
 </ul>
</nav2>
</nav>
