<!-- JSON-LD -->
{{ if .IsHome }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "WebPage",
    "name" : "{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}",
    "headline" : "{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}",
    "description" : "{{ .Site.Params.description }}",
    "inLanguage" : "{{ .Site.LanguageCode }}",
    "author" : "{{ .Site.Title }}",
    "creator" : "{{ .Site.Title }}",
    "accountablePerson" : "{{ .Title }}",
    "copyrightHolder" : "{{ .Title }}",
    "copyrightYear" : "{{ .Site.LastChange.Format "2006" }}",
    "datePublished": "{{ .Date }}",
    "dateModified" : "{{ .Date }}",
    "url" : "{{ .Permalink }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }} {{with .Site.Title}}"{{ .}}"{{ end }}],
    "image" : "https://d33wubrfki0l68.cloudfront.net/77db38137fb2831068ed79723d769582998f2fd1/41f8a/img/logo-7do2.png"
}
</script>
{{ end }} 
{{ if .IsPage }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "image" : "https://d33wubrfki0l68.cloudfront.net/77db38137fb2831068ed79723d769582998f2fd1/41f8a/img/logo-7do2.png",
    "articleSection" : "{{ if isset .Params "menusection" }}{{ .Params.menusection }}{{ else if ne .Section "" }}{{ .Section }}{{ else }}eSolia{{ end }}",
    "name" : "{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}",
    "headline" : "{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "{{ .Site.LanguageCode }}",
    "license" : "/license",
    "author" : "{{ .Site.Title }}",
    "creator" : "{{ .Site.Title }}",
    "publisher": {
        "@type": "Organization",
        "logo" : "/img/android-chrome-192x192.png",
        "name": "{{ .Site.Title }}"
    },
    "accountablePerson" : "{{ .Site.Title }}",
    "copyrightHolder" : "{{ .Site.Title }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date }}",
    "dateModified" : "{{ .Date }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "mainEntityOfPage": "{{ .Site.Params.description }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }} {{with .Site.Title}}"{{ .}}"{{ end }}]
}
</script>
{{ end }}
