{{ define "main" }}
{{ range where .Data.Pages "Params.robotsdisallow" true }}
Disallow: {{ .RelPermalink }}
{{ end }}
<div hidden="true"><p>O blog que agrega em sua vida, com dicas importantes sobre suplementos e exercícios físicos.}</p></div>
{{ partial "jumbotron" (dict "imageUrl" "/img/seo-SB.jpg" "title" "Suplementos Blog" "subtitle" "O seu blog sobre suplementos, dicas de treino e uma vida mais saudável!") }}

{{ partial "blog-home" . }}
<aside class="sidebar{{ if eq $sidebar "left" }} sidebar--left{{ end }}">
{{- $root := . }}
{{- with (default .Site.Params.sidebar.widgets .Params.widgets) -}}
	{{- range $widget := . }}
		{{- $p := printf "widgets/%s.html" $widget }}
		{{- partial $p $root }}
	{{- end }}
{{- else }}
	<p class="sidebar__warning"><strong>{{ T "sidebar_warning" }}:</strong><br>{{ T "sidebar_recommendation" }}</p>
{{- end }}
</aside>
{{ end }}
